<a id="top"></a>
<div class="header">
    <h1>Places to Visit In Toronto</h1>
</div>
<div class="image-container">
        <img class="topImages" [src]="currentPictureUrl" alt="Current Picture">
        <div class="text-overlay">
            <p class="text">{{ currentText }}</p>
        </div>
</div>
<div class="bodyContainer">
    <h2>Top 6 Places to visit in Toronto</h2>
<div class="placesContainer">
    <div class="firstPlace">
        <a routerLink="/details">
            <img class="placesImages" src="../../../assets/cnTower.JPG"/> 
        </a>
        <div class="containerBody">
            <h3>CN Tower</h3>
            <span><b>Rating:</b> 4.7 <i class="fa-solid fa-star"></i></span><br>
            <p>Tourist Attraction</p>
            <b>Ticket:</b>
            <span>$46/person</span>
        </div>
    </div>
    <div class="secondPlace">
        <a routerLink="/aquarium">
            <img class="placesImages" src="../../../assets/ripley.JPG">
        </a>
        <div class="containerBody">
            <h3>Ripley's Aquarium of Canada</h3>
            <span><b>Rating:</b> 4.6 <i class="fa-solid fa-star"></i></span><br>
            <p>Aquarium</p>
            <b>Ticket:</b><span>$44/person</span>
        </div>
    </div>    
    <div class="thirdPlace">
        <a routerLink="/casaLoma">
            <img class="placesImages" src="../../../assets/casaloma.JPG" >
        </a>
            <div class="containerBody">
                <h3>Casa Loma</h3>
                <span><b>Rating:</b> 4.8 <i class="fa-solid fa-star"></i></span><br>
                <p>Museum</p>
                <b>Ticket:</b>
                <span>$40.00/person</span>
            </div>
    </div>
    <div class="firstPlace">
            <img class="placesImages" src="./../../../assets/harbourFront.jpeg" href="casaLoma">
            <div class="containerBody">
                <h3>Harbour Front</h3>
                <span><b>Rating:</b> 4.8 <i class="fa-solid fa-star"></i></span><br>
                <span>Island</span><br>
                <span>Free visit</span>
            </div>
    </div>
    <div class="secondPlace">
        <img class="placesImages" src="./../../../assets/island.jpeg">
        <div class="containerBody">
             <h3>Toronto Islands</h3>
             <span><b>Rating:</b> 4.7 <i class="fa-solid fa-star"></i></span><br>
             <span>Island</span><br>
             <span>Free Visit</span>
        </div>
    </div>
    <div class="thirdPlace">
        <img class="placesImages" src="./../../../assets/highPark.jpeg">
        <div class="containerBody">
            <h3>High Park</h3>
            <span><b>Rating:</b> 4.7 <i class="fa-solid fa-star"></i></span><br>
            <span>Park</span><br>
            <span>Free Visit</span><br>
        </div>
    </div>
</div>

</div>
