.headerDiv{
    background-image:url("../../../assets/header.JPG");
    height: 80px;
    margin:10px;
}
h1{
    text-align: center;  
    padding:10px;
    animation-name: textAnimation;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-iteration-count: infinite; 
}
h2{
    font-size: 40px;
    text-align: center;
}
h3{
    font-size: 25px;
    background-color: rgb(25, 171, 228);
    font-size: 52px;
    padding: 10px;
    margin: 0px;
}

p{
    font-size: 20px;
    padding:20px;
    width:30%;
}
.mainImage{
    width:100%;
    height: 800px;
    display: block;
    transition: width 2s;
    animation-name: imgAnimation;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}
.image{
    height:600px;
    width:70%;
    padding: 25px;
    transition: transform 0.3s ease; 
    animation-name: imgAnimation3;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 2;
}
.image:hover{
    transform: scale(1.1);
    
}
.containers{
    margin:0;
}
.imgcontainer{
    margin-top:10px;
}
.con{
    display:flex;
    width:100%;
    padding:10px;
    height: 300px;
}
.animated-text {
    font-size: 24px;
    color: blue;
    animation-name: slide-in;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.animated-text:hover {
    animation-play-state: running;
}

.infoContainer{
    display: flex;
    overflow: hidden;
}

@keyframes textAnimation {
    0% {
            transform: rotate(10deg);
        }
    
        65% {
            transform: rotate(-10deg);
        }
    
        100% {
            transform: rotate(10deg);
        }
    }
    

@keyframes imgAnimation{
0% {
        width:60%;
    }
100% {
        width: 100%;
    }
}

@keyframes imgAnimation3 {
    from{
        width: 700px;
        margin:10px;
        padding:25px;
    }

    to{
        width: 800px;
        margin:10px;
        padding: 25px;
    }
}





@media screen and (max-width:1000px){

    .infoContainer{
        display: block;
    }
    .image{
        width:100%;
        margin:auto;
        display: block;
        text-align: center;
        padding:5px;
        transition:none; 
    }
    p{
        width:100%;
    }
    @keyframes imgAnimation3 {
        from{
            width: 500px;
            margin:10px;
            padding:25px;
        }
    
        to{
            width: 600px;
            margin:10px;
            padding: 25px;
        }
    }
}
@media screen and (max-width:250px){
   
    @keyframes imgAnimation3 {
        from{
            width: 200px;
            margin:10px;
            padding:25px;
        }
    
        to{
            width: 250px;
            margin:10px;
            padding: 25px;
        }
    }
}

