<a id="top"></a>

<div class="headerDiv">
    <h1>CN Tower</h1>
</div>

<div>
    <img class="mainImage" src="../../../assets/toronto.jpg">
</div>

<h2>Things to explore in CN Tower</h2>
<div class="container">
    <div class="imgcontainer">
        <h3>Skypod</h3>
        <div class="infoContainer">
            <img class="image" src="../../../assets/skypod2.JPG" alt="" />
            <p>SkyPod is the highest observation platform in the Western Hemisphere. It's an amazing experience, please go for it.</p>
        </div>
    </div>
    <div class="imgcontainer">
        <h3>Edge Walk</h3>
        <div class="infoContainer">
            <p>116 storeys up, walking along the outside edge of the CN Tower’s main pod, secured by only a harness—EdgeWalk
                is an
                experience like no other. Since opening in 2011, EdgeWalk has thrilled thousands and marked major milestones
                for guests
                of all kinds. Do you have what it takes to walk the Walk?</p>
            <img class="image" src="../../../assets/edgeWalk.JPG" alt="" />
        </div>
    </div>
    <div class="imgcontainer">
        <h3>360 Restaurant</h3>
        <div class="infoContainer">
            <img class="image" src="../../../assets/restaurant.JPG" alt="" />
            <p>The CN Tower isn’t just an architectural marvel—it’s a culinary one, too. Home to the world’s highest wine
                cellar, 360
                The Restaurant at the CN Tower gets its name from the full rotation it makes, providing a dramatic backdrop
                that
                complements the cross-Canadian cuisine on offer.</p>
        </div>
    </div>
    <div class="imgcontainer">
        <h3>Main Observation</h3>
        <div class="infoContainer">
            <p>Step off our high-speed elevators on the Main Observation Level, and you’ll be 346 metres (1,136 feet) above
                ground. Our
                window walls give guests of every height the chance to see the full sweep of the cityscape, the perfect
                setting for
                taking photos and making memories.</p>
            <img class="image" src="../../../assets/mainObservation.JPG" alt="" />
        </div>
    </div>
    <div class="imgcontainer">
        <h3>Glass Floor</h3>
        <div class="infoContainer">
            <img class="image" src="../../../assets/glass.JPG" alt="" />
            <p>Glass Floor is an amazing experience. You can take the picture with your friends. When you walk on it, you can see the beauty of Toronto in different angel.
                When you visit it, Make sure you experience it.
            </p>
        </div>
    </div>
    <div class="imgcontainer">
        <h3>Gift Shop</h3>
        <div class="infoContainer">
            <p>Be sure to browse the Tower’s Gift Shop to find the perfect memento of your visit. With works by Indigenous
                artists,
                great gifts from local designers and unique CN Tower memorabilia, the shop has a little bit of everything
                that makes us
                Canada’s celebration destination.
            </p>
            <img class="image" src="../../../assets/gift.JPG" alt="" />
        </div>
    </div>

</div>