<div>
    <a id="top"></a>

    <div class="headerDiv">
        <h1>Ripley's Aquarium</h1>
    </div>

    <div class="container">
        <div class="imgContainer">
            <h3>Dive Into Experience</h3>
            <img class="images img1" src="../../../assets/raDiveInto.png" alt="diveIntoPic">
            <p>Get the experience to dive under the water with many different under water creatures!</p>
        </div>
        <div class="imgContainer">
            <h3>Educational</h3>
            <img class="images" src="../../../assets/raWalk.png" alt="walkPic">
            <p>You can arrange an educational trip for children, where they can know the different specious who lives
                under
                the water. You can also attend educational events.</p>
        </div>
        <div class="imgContainer">
            <h3>Birthday Party</h3>
            <img class="images" src="../../../assets/raBirthdayParty.png" alt="partyPic">
            <p>Birthday parties can also be arranged for children as there is a place to play and to have a food for
                them.
            </p>
        </div>
        <div class="imgContainer">
            <h3>Photo Shoot</h3>
            <img class="images" src="../../../assets/raPhotoSHoot.png" alt="photoShootPic">
            <p>You can create and capture the memory of this outstanding place, witout any worries.</p>
        </div>
    </div>
</div>