<a id="top"></a>

<div class="upperdiv">
    <div class="headerDiv">
        <h1>Casa Loma</h1>
    </div>
    <p>"A prime example of modern Toronto’s commitment to its rich history, Casa Loma was first built in 1914 by financier Sir Henry Pellatt. The castle located in midtown Toronto, is now owned by the City of Toronto and is regarded as a treasured heritage landmark. Today, Casa Loma is one of Toronto’s top tourist attractions and hospitality venues. Each year over 650,000 visitors tour Casa Loma and the estate gardens. A perfect backdrop for special occasions, Casa Loma also plays host to over 250 private events annually. The unique architecture has also made it a highly desirable location for film, television and photo shoots."</p>
    <h2>Things To do here</h2>
      <ul>
        <li>Explore The place with regular ticket</li>
        <li>Book Wedding and Social Events</li>
        <li>Corporate Events</li>
        <li>Film and Photo Shoots</li>
      </ul>
</div>
<div class="cont">
    <h3>Gallery</h3>  
<div class="container">
        <div class="imgContainer">
            <img src="../../../assets/casalomaFurniture.JPG"/>
        </div>
        <div class="imgContainer">
            <img src="../../../assets/casalomaFurniture2.JPG"/>
        </div> 
        <div class="imgContainer">
            <img src="../../../assets/casalomaFurniture3.JPG"/>
        </div>    
        <div class="imgContainer">
            <img src="../../../assets/casalomaHallWay.JPG"/>
        </div>    
        <div class="imgContainer">
            <img src="../../../assets/casalomaLibrary.JPG"/>
        </div>
        <div class="imgContainer">
            <img src="../../../assets/casaLomawaterFountain.JPG"/>
        </div>    
</div>

</div>

